ARK_SLOT=home
ARK_MAP=TheIsland
ARK_SESSION_NAME=ARK Home
ARK_PORT=7777
ARK_QUERY_PORT=27015
ARK_RCON_PORT=27020
ARK_ALT_SAVE_DIR=home
ARK_CLUSTER_ID=ark-prime-7f3a
ARK_CLUSTER_DIR=/srv/ark/clusters/main
ARK_ADMIN_PASSWORD=
ARK_RCON_PASSWORD=
ARK_SERVER_PASSWORD=
ARK_ADDITIONAL_ARGS=-NoBattlEye -server -log -servergamelog
